/*div.kjopsdata, div.salgsdata {
    float:left;

}*/

body {
    font-family: Arial, Verdana, sans-serif;
    margin-left: 20px;
    padding: 0;

    background-color: white;
    
    margin-right: 20px;
    

}



div.innhold {
    display: grid;
    /*background-color: lightblue;*/
    height: 100vh;
          
    grid-template-rows: 1fr 1fr 1fr;
}

div.overst {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    
}

div.nederst {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    
} 






/*div.kjopsdata, div.salgsdata {


    
    
    overflow: scroll;

    

}*/

/*div.avkastningsdata {


    max-height: 300px;
    overflow: scroll;
    clear: left;
    float: left;
    width: 350px;
    
    margin: 10px;
    padding: 10px;
    border: 2px solid blue;

}*/

/*div.urealiserteData {

    
    

    overflow: scroll;
    

}*/

tr:nth-child(even) {
    background: lightblue;

}

.kalkulerAvkastning, .visLeggTil, .slettData {
    background-color: darkblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.kalkulerAvkastning:hover, .visLeggTil:hover, .slettData:hover {
    background-color: lightblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}






