/*div.kjopsdata, div.salgsdata {
    float:left;

}*/

body {
    font-family: Arial, Verdana, sans-serif;
    

}

div.page {
    float: left;
    /*width: 450px;*/
    margin: 10px;
    padding: 10px;
    border: 2px solid blue;
}

div.innhold {
    float: left;
    /*width: 400px;*/
    margin: 10px;
    padding: 20px;
    border: 2px solid blue;
}

.visLeggTil {
    left: 100px;
    width: 250px;
}

div.inndata {
    /*border-collapse: collapse;*/
    height: 300px;

    float: left;
    width: 350px;
    margin: 10px;
    padding: 10px;
    border: 2px solid blue;

}

div.kjopsdata, div.salgsdata {


    /*position: absolute;
    top: 0px;*/
    /*left: 500px;*/
    max-height: 300px;
    overflow: scroll;

    max-width: 350px;
    float: left;
    width: 350px;
    margin: 10px;
    padding: 10px;
    border: 2px solid blue;

}

div.avkastningsdata {


    max-height: 300px;
    overflow: scroll;
    clear: left;
    float: left;
    width: 350px;
    /*margin: 10px;*/
    margin: 10px;
    padding: 10px;
    border: 2px solid blue;

}

div.urealiserteData {

    max-height: 300px;
    

    overflow: scroll;
    float: left;
    width: 350px;
    margin: 10px;
    padding: 10px;
    border: 2px solid blue;

}

tr:nth-child(even) {
    background: lightblue;

}

.kalkulerAvkastning, .visLeggTil, .slettData {
    background-color: darkblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.kalkulerAvkastning:hover, .visLeggTil:hover, .slettData:hover {
    background-color: lightblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}




body{
    background-color: lightblue;
    
    margin-right: 20px;
}

.page {
    background-color: white;
   
    

}
